<div class="content-container">
    <div class="plant_content">
        <div id="item-0">
            <div id="plant_header">
                <h2><%=garden_name%></h2>
                <h3><%=garden_street%>&nbsp;<%=garden_plz%>&nbsp;<%=garden_city%></h3>
                <h4><a href="<%=garden_homepage%>" target="_blank"><%=garden_homepage%></a></h4>
            </div>
        </div>
        <div id="item-1">KOLONIE</div>
        <div id="item-2">STEUERNUMMER</div>
        <div id="item-3">FL&Auml;CHE in m2</div>
        <div id="item-4">INFORMATIVE DATEN</div>
        <div id="item-5">ABTEILUNG / G&Auml;RTEN</div>
        <div id="item-6">WASSER- UND STROMVERSORGUNG</div>
        <div id="item-7">MITGLIEDER</div>
        <div id="item-8">SPRECHZEITEN</div>
        <div id="item-9">ALLGEMEINES</div>
    </div>
</div>