<div class="content-container">
    <div class="plant_content">
        <div id="item-plant0">
            <div id="plant_header">
                <h2><%=garden_name%></h2>
                <h3><%=garden_street%>&nbsp;<%=garden_plz%>&nbsp;<%=garden_city%></h3>
                <h4><a href="<%=garden_homepage%>" target="_blank"><%=garden_homepage%></a></h4>
            </div>
        </div>
        <div id="item-plant1">KOLONIE</div>
        <div id="item-plant2">STEUERNUMMER</div>
        <div id="item-plant3">FL&Auml;CHE in m2</div>
        <div id="item-plant4">INFORMATIVE DATEN</div>
        <div id="item-plant5">ABTEILUNG / G&Auml;RTEN</div>
        <div id="item-plant6">WASSER- UND STROMVERSORGUNG</div>
        <div id="item-plant7">MITGLIEDER</div>
        <div id="item-plant8">SPRECHZEITEN</div>
        <div id="item-plant9">ALLGEMEINES</div>
    </div>
</div>